.button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    user-select: none;
    border: $px1 solid transparent;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      opacity: .8;
    }
}
.btn-link{
    padding: $pd2 $pd4;
    color: $branding;
    &.disabled{
        cursor: not-allowed;
        text-decoration: none;
        color: $cancel;
        pointer-events: none;
        >*{
            pointer-events: none;
        }
    }
    
}

.btn-primary{
    @include button-style($branding,$greyBranding,$white);
    &[disabled],
    &.disabled{
        cursor: not-allowed;
        color: $background;
        background-color: $disable;
        box-shadow: none;
        >*{
            pointer-events: none;
        }
    }
}
.btn-danger{
    @include button-style($alert,$greyAlert,$white);
}
.btn-small{
    @include button-size($pd4, $pd2, $ft12, $br2);
}

.btn-middle{
    @include button-size($pd12, $pd8, $ft16, $br4);
}

.btn-large{
    @include button-size($pd16, $pd10, $ft18, $br6)
}