$branding:#134a68 !default;
$background: #13001F;
$greyBranding: #0c2c3d;
$success: #009B2A;
$warning: #FFB100;
$alert: #FF0000;
$greyAlert: #771212;
$cancel: #B7B7B7;
$disable: #cdcdcd;
$subject: #FFB100;
$white: #FFFFFF;
$block: #969696;
$panel: #212121;

$ft12: 12px;
$ft14: 14px;
$ft16: 16px;
$ft18: 18px;
$ft20: 20px;
$ft22: 22px;
$ft24: 24px;
$ft28: 28px;
$ft30: 30px;
$ft32: 32px;
$ft36: 36px;
$ft40: 40px;
$ft42: 42px;
$ft48: 48px;
$ft50: 50px;
$ft56: 56px;
$ft64: 64px;
$ft72: 72px;
$ft80: 80px;

$mg2: 2px;
$mg4: 4px;
$mg6: 6px;
$mg8: 8px;
$mg10: 10px;
$mg12: 12px;
$mg14: 14px;
$mg16: 16px;
$mg18: 18px;
$mg20: 20px;
$mg24: 24px;
$mg28: 28px;
$mg30: 30px;
$mg32: 32px;
$mg36: 36px;
$mg40: 40px;
$mg42: 42px;
$mg48: 48px;
$mg56: 56px;
$mg60: 60px;

$pd2: 4px;
$pd4: 4px;
$pd6: 6px;
$pd8: 8px;
$pd10: 10px;
$pd12: 12px;
$pd14: 14px;
$pd16: 16px;
$pd18: 18px;
$pd20: 20px;
$pd24: 24px;
$pd28: 28px;
$pd30: 30px;
$pd32: 32px;
$pd36: 36px;
$pd40: 40px;
$pd42: 42px;
$pd48: 48px;
$pd56: 56px;
$pd60: 60px;

// border-radius
$br2: 2px;
$br4: 4px;
$br6: 6px;
$br8: 8px;
$br10: 10px;
$br12: 12px;
$br16: 16px;
$br18: 18px;
$br20: 20px;
$br22: 22px;
$br24: 24px;


$px1: 1px;